/* CSS Document */

/*#content * {
	border: solid 1px red;
}*/


body {
	background-image: url(../_images/lava.gif);
}

button {
    background-color: #CEDDEF;
    border: none;
    color: black;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-duration: 0.7s;
	width: 60px;
	z-index: 99999;
}
button:hover{
	background-color: #CAACFF;
	color: white;
	transform: scale(1.2, 1.2)
}
button:active {
	background-color: #CAACFF;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#nameField {
	width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

#player {
 	position: absolute;
	display: none;
	z-index: 1000;
}

#heroGold {
	position: absolute;
	z-index: inherit;
	color: gold;
	font-weight: bold;
	
}

#playerStats {
	z-index: 999;
}

#potionhouse {
	
}

#playerStats {
	position: absolute;
	display: inherit;
}

#choose {
	position: relative;
	z-index: 9999;
}

#health {
	width: 50px;
}

#zombieBar {
	width: 146px;
}

#zombieImage {
	width: 146px;
	z-index: 0;
}
#vaderImage {
	width: 272px;
	z-index: 0;
}
#vaderBar {
	width: 272px;
}

#awpImage {
	width: 246px;
	z-index: 0;
}
#awpBar {
	width: 246px;
}
#doorImage {
	width: 128px;
}

#bossBar {
	width: 500px;
}
#bossImage {
	width: 500px;
}

#content {
	width: 1280px;
	height: 720px;
	background-color: white;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.container {
	width: auto;
	height: auto;
}