/* CSS Document */

body {
	background-color: #D5FFFD;
}

.container {
	align-content: center;
	text-align: center;
	padding: 10px;
	margin: auto;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}

/*.content * { border: 1px solid #F00; }

/* navigation bar formatting */
.navbar ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
    background-color: #333333;
	border: solid 
}
.navbar li {
	width: 33.33%;
	float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
}
.navbar li a:hover {
    background-color: #555555;
}
.button {
	background-color: #F2CFFF;
	border: none;
	color: #333333;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-duration: 0.5s;
	width:32%;
}
.button:hover{
	background-color: #C587FF;
	color: white;
	transform: scale(1.1, 1.1)
}
.button:active {
	background-color: #C587FF;
	box-shadow: 0 5px #666;
}
